* {
    box-sizing: border-box;
  }
  
body {
    font-family: "Muli", sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    color: #555;
    margin: 0;
}
div {
    padding: 0 0.5rem;
    margin-top: 2rem;
    
  }
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
select,button {
    border: 1px solid #555;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    border-radius: 2px;
}
select {
    background-color: rgb(126, 116, 116);
    padding: 0.4rem;
    margin: 0 0.5rem;
    flex-basis: 25%;
    font-size: 1.2rem;
}
button {
    width: 80%;
    display: block;
    background-color: gray;
    margin: 1rem auto;
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }

  article {
    text-align: center;
    transition: all 0.2s linear;
  }
span {
    font-weight: bold;
    font-size: 1.2rem;
}
  
